<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>David Macharia</title>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <div class="home_container full_page" id="home">
        <!-- introduction -->

        <div class="video_background h-100">
            <video src="./videos/binary.mp4" autoplay='true' loop='true'></video>
        </div>
        <div class="overlay_div h-100"></div>

        <div class="home_container_wrapped" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
            <h1 id="main_title" class="animated slideInLeft">Hello!</h1>
            <p id="intro_paragraph" class=" animated slideInRight">Welcome to my site. My name is David Macharia Mwangi,<br><br> I am a full stack
                <span style="color: rgb(73, 160, 247);">Web Developer</span></p>
            <i>scroll down</i>
            <a id="bouncing-arrow" href="#about"><i class="fas fa-angle-double-down bounce"
                    style="font-size:30px;"></i></a>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="#home">David M. Mwangi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="spacing"></div>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="about_container full-page" id='about'>
        <!-- about section -->
        <div class="center-block">
            <h1>ABOUT ME</h1>
        </div>
        <div class="about-section">
            <div class="about_container_wrapped">
                <img src="./images/dave.jpg" alt="selfie" id="selfie">
                <p id="about_paragraph">I'm a self-taught, full-stack Web Developer based in Nairobi, Kenya. Knowledge
                    acquired through immense research and a bit of mentorship. Self motivation and dedication have been
                    my
                    biggest strength throught my career. I'm currently working with Python and front-end Javascript. I
                    mostly work by myself , however, I'm more than capable of teamwork and collaborating remotely.
                    Contact
                    me through email or slack for business or more information</p>
            </div>
            <div class="skills_wrapped">
                <div class="html progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100">HTML 75%</div>
                </div>
                <div class="css progress">
                    <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="70"
                        aria-valuemin="0" aria-valuemax="100">CSS 70%</div>
                </div>
                <div class="responsive-design progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100">Responsive-designs 75%</div>
                </div>
                <div class="Javascript progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100">Javascript 75%</div>
                </div>
                <div class="react progress">
                    <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65"
                        aria-valuemin="0" aria-valuemax="100">ReactJS 65%</div>
                </div>
                <div class="python progress">
                    <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70"
                        aria-valuemin="0" aria-valuemax="100">Python 70%</div>
                </div>
                <div class="flask progress">
                    <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70"
                        aria-valuemin="0" aria-valuemax="100">Flask 70%</div>
                </div>
                <div class="version_control progress">
                    <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65"
                        aria-valuemin="0" aria-valuemax="100">Postgresql 65%</div>
                </div>
                <div class="postgres progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90"
                        aria-valuemin="0" aria-valuemax="100">Version-control 90%</div>
                </div>
            </div>
        </div>
    </div>
    <div class="projects_container" id="projects">
        <div class="center-block">
            <h1>PROJECTS</h1>
        </div>
        <!-- portfolio projects -->
        <div class="project_div">
            <div class="card-deck col-xs col-sm">
                <div class="card">
                    <img src="/images/blog.png" class="card-img-to"images="application screenshot">
                    <div class="card-body">
                        <h5 class="card-title">Flask Blog</h5>
                        <p class="card-text">Flask Blog is a simple blogging application originally built in Flask,
                            vanilla Javascript and
                            plain css. This work is inspired by Corey Schafer's(a professional coder and instructor)
                            Blogging app in Flask youtube video. The main goal for this project was to cover all basic
                            CRUD operations. I'm looking to re-style the app in Boostrap</p>
                        <a href="https://github.com/Dave-mash/flask-blog-ui" class="btn btn-primary"
                            target="_blank">GitHub</a>
                        <a href="https://flask-blogify.herokuapp.com" class="btn btn-primary" target="_blank">Live</a>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/rain.png" class="card-img-to"images="application screenshot">
                    <div class="card-body">
                        <h5 class="card-title">Binary rain</h5>
                        <p class="card-text">Binary Rain is an inspiration of the Matrix Rain by Emily Xie, a creative
                            coder based in the
                            USA. The work is done in P5.js, a Javascript front-end framework for building quick
                            sketches/visuals. The main objective of the project was to visualize binary symbols
                            trickling from top to bottom. Through this project, I found my love for front-end
                            visualizations and I'm definitely going to continue exploring this art.</p>
                        <a href="https://github.com/Dave-mash/binary-rain" class="btn btn-primary">GitHub</a>
                        <a href="https://dave-mash.github.io/binary-rain/" class="btn btn-primary"
                            target="_blank">Live</a>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/mysite.png" class="card-img-to"images="application screenshot">
                    <div class="card-body">
                        <h5 class="card-title">My site</h5>
                        <p class="card-text">My site is actually this very site you're scrolling through. I drew design
                            inspirations from
                            a number of very nice sites online. The site is meant to feature all my skills as a Web
                            Developer. The work is done in plain css and Javascript.</p>
                        <a href="https://github.com/Dave-mash/my-site-bootstrap" class="btn btn-primary">GitHub</a>
                        <a href="https://dave-mash.github.io/my-site-bootstrap/" class="btn btn-primary"
                            target="_blank">Live</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact_container" id="contact">
        <div class="center-block">
            <h1>CONTACT</h1>
        </div>

        <form id="contact-form" method="post" action="send" role="form">

            <!-- <div class="messages"></div> -->

            <div class="controls">

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="form_name">Name *</label>
                        <input id="form_name" type="text" name="name" class="form-control"
                            placeholder="Enter your name *" required="required" data-error="Firstname is required.">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="form_email">Email *</label>
                        <input id="form_email" type="email" name="email" class="form-control"
                            placeholder="Enter your email *" required="required" data-error="Valid email is required.">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="form_message">Message *</label>
                    <textarea id="form_message" name="message" class="form-control" placeholder="Message for me *"
                        rows="4" required="required" data-error="Please, leave us a message."></textarea>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-11">
                <input type="submit" class="btn btn-success btn-send" value="Send message">
            </div>

        </form>

    </div>
    <footer>
        <i style="opacity:.8">copyright &copy; 2019 David Macharia</i>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script>
        $(function () {
            $('a[href*="#"]:not([href="#"])').click(function () {
                var target = $(this.hash);
                if (target.length) {
                    $("html, body").animate({
                            scrollTop: target.offset().top
                        },
                        1000
                    );
                }
            });
        });

        if (document.querySelector('.navbar-nav')) {
            document.querySelector('.spacing').style.display = 'block'
        } else {
            document.querySelector('.spacing').style.display = 'none';
        }
    </script>
</body>

</html>